# Add any directories, files, or patterns you don't want to be tracked by version control
*.iml
.gradle
.idea*
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild